body{ 
      background:black;
      color:white;
 }

#ticker{ 
        background:black;
        width:115px;
        height:100%;
        overflow:hidden;
        }
#rolls{ 
        position:absolute;
        top:0px;
        left:0px;
        width:100px;
}

.each{ 
       font-size:0.7em;
       margin-bottom:4px;
 }

#recent .each{ 
             font-size:0.3em;
             }

#instructions{ 

 }

#recent{ 
         display:none;
         background:black;
         color:red;
         font-size:2em;
         position:relative;
         top:0px;
         right:0px;
         margin:0px;
         padding:5px;
         padding-left:2.3em;
} 

#recent .quantity{ 
                   display:none;
 }

#stage{ 
       background:white;
        position:relative;
 }
#stage_top{ 
            background:black;
            height:5em;
            left:0px;
            right:0px;
            position:relative
 }

#multiple{ 
           font-size:2em;
           position:absolute;
           top:0px;
           left:0px;
           margin-bottom:4px;
           z-index:2;
 }

#dice{ 
       background:white;
       clear:both;
 }
#dice img{ 
           width:100px;
           height:100px;
           padding:0px;
           margin:0px;
 }

#dice #die_1d100{ 
        width:100px;
        height:100px;
 }

