<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.robkohr.quickrpgdice"
        versionCode="2013.2.11" 
        version   = "20130211">

    <!-- versionCode is optional and Android only -->

    <name>Quick RPG Dice</name>

    <description>
      A powerful yet easy to use dice roller.
    </description>

    <author href="http://robkohr.com" email="spam@robkohr.com">
      Robert Kohr
    </author>
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <icon src="icon.png" />
</widget>